{{ define "head_meta" }}
<meta content="OneLou" name="keywords">
<meta content="OneLou" name="description">
<meta property="og:title" content="Peter Öhlinger">
<meta property="og:description" content="Research and Progamming">
<meta property="og:image" content="../static/img/peter_circle_contrast.png">
<meta property="og:url" content="http://peteroehlinger.com">
{{ end }}

{{ define "center_main" }}
<main class="center_main">
    <div class="center_home">
        {{ partial "header/site-nav" . }}
        {{ partial "footer/opengraph" . }}
    </div>
</main>
{{ end }}